---
title: Base11 Studios
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Base11 Studios</h2>
		<p class="subtext editable">Specializing in iOS and Android <strong>mobile apps</strong> + responsive <strong>websites</strong>.</p>
		<p class="subtext editable">Cincinnati is our home.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal alternate pattern-section">
	<div class="container halves">
		<div>
			<h3 class="editable">We're proud of our work</h3>
			<p class="editable">We work hard to deliver what you need to meet your goals. We take pride in the beauty of our design and the resiliency of our code.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid-floating">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/unicorn.svg" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/fairy.svg" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Fun games, beautiful apps</h3>
			<p class="editable">Our expertise knows no bounds. We focus on delivering high quality content with a unique spin.</p>
		</div>
	</div>
</section>
