---
title: Portfolio
heading: Our Apps
subtitle: We specialize in building great experiences. From native iOS and Android, to cross-platform with React Native, to Angular web apps and static websites - we have years of experience building complex apps for Base11 Studios and our partners.<br><br>Check out a few of our recent projects for an idea of our past work.
---

<section>
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_clients/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid-floating">
			{% for client in site.clients %}
				<li>
					<a href="{{ site.baseurl }}{{ client.url }}">
						<img src="{% include relative-src.html src=client.image_path %}" alt="{{ person.name }}"
							data-tilt
							data-tilt-max="10"
							data-tilt-glare="true"
							data-tilt-speed="400"
							data-tilt-scale="1"
							data-tilt-max="20"
							data-tilt-perspective="900">
						<div class="details">
							<div class="name">{{ client.name }}</div>
							<div class="position">{{ client.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
